:root {
  --comment-text-color: #ffffff;
}

[data-theme="dark"] {
  --comment-text-color: #000000;
}

.comment-textarea {
  background-color: var(--input-background);
  border: none;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.comment {
  background-color: var(--input-background);
  color: var(--comment-text-color);
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
}  

.delete-button {
  background-color: green;
  margin-bottom: -10px;
}