:root {
  --footer-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 0 50px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  background-color: var(--background-color);
  bottom: 0;
  box-shadow: var(--footer-box-shadow);
  height: 80px;
  left: -15px;
  margin-bottom: 0px;
  position: fixed;
  text-align: center;
  transition: background-color var(--dark-transition-duration);
  width: 100%;
}

.footer-icon {
  vertical-align: middle;
}

.love-icon {
  margin-top: -6px;
}

.footer-buffer {
  background-color: var(--background-color);
  height: 100px;
  transition: background-color var(--dark-transition-duration);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: inherit;
}
