.sort-box {
  background-color: var(--background-color);
  padding: 5px;
}

.idea {
  border: 5px solid var(--background-color);
  transition: background-color var(--dark-transition-duration);
  border-radius: 20px;
  box-shadow: 0 4px 25px -5px rgb(0 0 0 / 18%);
  margin-left: 0;
  margin-right: 0;
}

.idea-small-details {
  margin-top: -40px;
}

.comment-icon {
  margin-top: -12px;
}

.upvote-icon {
  margin-left: 40px;
}
