:root {
  --background-color: #ffffff;
  --box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  --button-background-color: rgb(0, 150, 255);
  --content-background: rgb(250, 250, 250);
  --input-background: rgb(225, 225, 225);
  --text-color: #000000;
  --dark-transition-duration: 0.5s;
}

[data-theme="dark"] {
  --background-color: #1f1f1f;
  --button-background-color: rgb(0, 125, 200);
  --content-background: #3f3f3f;
  --input-background: rgb(190, 190, 190);
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--dark-transition-duration),
    color var(--dark-transition-duration);
  zoom: 1.1;
}

body.preload {
  transition-duration: 0s !important;
}

button {
  background-color: var(--button-background-color);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  transition: background-color var(--dark-transition-duration);
  width: 100px;
}

button:hover,
svg.button-icon:hover {
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--dark-transition-duration);
}

div.trimmed {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.button-icon {
  border-radius: 100%;
}

.pin-icon {
  border-radius: 100%;
  position: relative;
  top: -20px;
  background-color: rgb(255, 255, 200);
  padding: 2px;
  vertical-align: middle;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content {
  background-color: var(--content-background);
  border-radius: 20px;
  margin: auto;
  margin-top: 25px;
  width: 25%;
  width: 40vw;
  min-width: 300px;
  max-width: 450px;
  transition: background-color var(--dark-transition-duration);
}

.content-container {
  display: block;
  padding: 5px;
  padding-top: 1px;
  margin: 5px;
}

.flex-container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.flex-component {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

.flex-30 {
  flex: 30%;
}

.flex-70 {
  flex: 70%;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.inline {
  display: inline;
}

input {
  background-color: var(--input-background);
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color var(--dark-transition-duration);
  width: 90%;
}

.idea-meta-label {
  padding-left: 2em;
  padding-right: 1em;
}

.inverted-button {
  background-color: white;
  color: var(--button-background-color);
  transition: background-color var(--dark-transition-duration),
    color var(--dark-transition-duration);
}

p.big {
  font-size: large;
}

p.small {
  font-size: small;
}

p.x-small {
  font-size: x-small;
}

select {
  background-color: var(--input-background);
  border: none;
  border-radius: 5px;
  padding: 7px;
  padding-right: 20px;
  transition: background-color var(--dark-transition-duration);
}

#returnToHome {
  color: #4bb4ff;
  font-size: medium;
}

svg.blue-icon {
  stroke: rgb(80, 80, 255);
}

svg.small {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.top {
  padding-top: 0px;
  margin-top: 0px;
}
