.App {
  text-align: center;
}

.poll-detail {
  text-align: left;
  width: 150px;
  margin-bottom: 5px;
}

.poll-details {
  display: block;
}

.template-selection {
  display: inline;
  color: rgb(0, 126, 0);
  /* background-color: white; */
  border-color: rgb(0, 126, 0);
  padding: 3px;
  margin-left: 20px;
  margin-right: 20px;
}