/* .App {
} */

button {
  background-color: rgb(0, 150, 255);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  transition-duration: 0.2s;
  width: 100px;
}

button:hover, svg.button-icon:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.trimmed {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

input {
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}

p.big {
  font-size: large;
}

p.small {
  font-size: small;
}

select {
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: 5px;
  padding: 7px;
  padding-right: 20px;
}

svg.blue-icon {
  stroke: rgb(80, 80, 255);
}

svg.small {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.comment-icon {
  margin-top: -12px;
}

.content {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin: auto;
  width: 25%;
}

.content-container {
  display: block;
  padding: 5px;
  padding-top: 1px;
  margin: 5px;
}

.footer {
  background-color: white;
  bottom: 0;
  height: 80px;
  left: -15px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-icon {
  vertical-align: middle;
}

.flex-container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.flex-component {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

.flex-30 {
  flex: 30%;
}

.flex-70 {
  flex: 70%;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.header {
  align-items: center;
  background-color: rgb(75, 180, 255);
  color: black;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.header > p > * {
  margin-left: 15px;
}

.header-icon {
  background-color: rgb(255, 255, 200);
  border-radius: 100%;
  padding: 2px;
  vertical-align: middle;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.idea {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}

.info {
  padding-top: 3px;
}

.inline {
  display: inline;
}

.love-icon {
  margin-top: -6px;
}

.top {
  padding-top: 0px;
  margin-top: 0px;
}

.idea-small-details {
  margin-top: -40px;
}

.inverted-button {
  background-color: white;
  color: rgb(0, 150, 255);
}

.popup {
  position: absolute;
  border: 1px solid black;
  transition: all 150ms linear;
}

.account-popup {
  left: 44%;
}

.login-popup {
  left: 12%;
}

.info-popup {
  font-size: small;
  transform: translate(35%, 0%);
}

.commentbox {
  width: 600px;
  border: 2px solid rgb(240, 240, 240);
  padding: auto;
  margin: 10px;
  /*trying to make the comments not exceed the width*/
  inline-size: min-content;
  overflow-wrap: break-word;
}

.comment {
  /* make the border colour red so can see where the box padding is when testing */
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  overflow: hidden;
  opacity: 0;
}

.Card {
  background-color: rgb(225, 225, 225);
  border: none;
  color: black;
  height: fit-content;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  margin: 10px;
  width: auto;
  margin-bottom: 5px;
}

#stylecomment {
  resize: none;
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.makinganewclass {
  padding: auto;
  margin: 10px;
  margin-left: 5;
  margin-bottom: -5px;
}

.Cardstyling {
  margin: 5px;
}

#buttonid {
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: green;
  font-weight: bold;
  transition-duration: 0.2s;
  width: 100px;
  margin-bottom: -5px;
}

.Commentoverall {
  width: 450px;
}
